// utils/_variables.scss

// Docelowe paddingi dla kontenera na mobile (20px z każdej strony)
$container-padding-left: 20px;
$container-padding-right: 20px;

$container-max-width: 1320px;

// Parametry grida z Figmy dla mobile:
$grid-columns: 4;     // Liczba kolumn w gridzie
$grid-gap: 16px;      // Odstęp (gutter) między kolumnami w gridzie
$column-width: 72px;  // Szerokość pojedynczej kolumny (dla precyzyjnego odwzorowania z Figmy)

// Kolory (z Figmy i Twoich wcześniejszych stylów)
$color-beige-bg: #FFF4E3;           // Przykładowy jasny beż dla bloku "26+ Project Done"
$color-beige-light-bg: #FAF7F4;     // jasny beż dla tla bloku services
$color-gradient-start: #DC9B59;     // Kolor początkowy gradientu
$color-gradient-end: #000000;       // Kolor końcowy gradientu
$color-stroke-grey: #979797;        // Kolor obramowania linii gradientowej
$color-dark-text: #1D1F2C;          // Ciemny kolor tekstu (z why-us__title)
$color-light-grey-text: #666;       // Szary kolor tekstu (z why-us__projects-label)
$color-white: #FFFFFF;              // Biały kolor
$color-black: #000000;              // Czarny kolor
$color-beige_background: #F6F6F6;              // tlo partners
$color-overlay-bg: rgba(91, 90, 90, 0.27); // Tło overlayu
$color-overlay-border: rgba(255, 255, 255, 0.25); // Obramowanie overlayu