/* scss/konfigurator_header/_nav.scss */
@use './tokens' as t;

.cfg-actions {
  display: flex;
  align-items: center;
  gap: 8px;
}

.btn {
  border: 0;
  border-radius: t.$radius-m; /* <- zamiast $border-radius */
  padding: 12px 18px;
  font-weight: 700;
  cursor: pointer;
  background: t.$color-primary;
  color: #fff;

  &:disabled {
    opacity: .5;
    cursor: not-allowed;
  }
}

.btn--ghost {
  background: #f1f1f4;
  color: #222;
  border-radius: t.$radius-m; /* spójnie */
}
