@use '../utils/variables' as *;

#step-summary {
    .configurator-summary {
        text-align: left;
    }

    .configurator-summary__list {
        list-style: none;
        padding: 0;
        margin: 24px 0;
        background-color: #FAFAFA;
        border: 1px solid #EAEAEA;
        border-radius: 12px;
        padding: 16px;

        li {
            margin-bottom: 12px;
            font-size: 16px;
            display: flex;
            justify-content: space-between;

            &:last-child {
                margin-bottom: 0;
            }

            strong {
                color: $color-light-grey-text;
                margin-right: 8px;
            }
            
            span {
                font-weight: 600;
                color: $color-dark-text;
            }
        }
    }

    #ai-result {
        text-align: center;
        padding: 16px;
        border-radius: 12px;
        background-color: #F0F3F5;
        margin-top: 24px;
        font-weight: 500;
    }
}