@use '../layout/_grid' as *;
@use '../utils/_variables' as *;
@use 'grid' as *;



.header {

  

    display: grid;

    grid-column: 1 / -1;
    max-width: 100%;
   
    padding: 0;
    margin: 0 auto;

   
    max-height: 450px;
    min-height: 450px;
    overflow: hidden;

  
  &__video {
      position: absolute;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      transform: translate(-50%, -50%);
      object-fit: cover;
      z-index: 0;
      pointer-events: none;
    }
  
  &__overlay {
      position: absolute; 
      inset: 0;
      background: rgba(0, 0, 0, 0.5); // przyciemnienie
      z-index: 1;
    }
  &__wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    background: rgba(0, 0, 0, 0.5);
    z-index: 3; // musi być powyżej overlayu (który miał 1 lub 2)
    height: 66px; // wysokość top baru
    display: grid;
    align-items: center;
}
  &__container {

      @include grid(4, 72px, 16px);
      position: relative;
      z-index: 2;
      // height: 100%;
      display: grid;
      // flex-direction: column;
      // justify-content: space-between;
      padding: 0 20px;
  
    }
  
  &__top {
      width: 100%;
      max-width: 1440px;
      margin: 0 auto;
      padding: 0 20px;

      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
  &__logo--img {
      height: 40px
    }
  &__burger {
    display: grid;
    grid-column: 1 / -1;
  }

  &__burger--img {
    
      height: 14px; 
    }
  
  &__content {
    display: grid;
      text-align: center;
      color: white;
      margin-top: 92px;
      margin-bottom: 4rem;
  
    }

  
  &__description {
display: grid;
      font-family: 'DM Sans';
      font-size: 14px;
      font-weight: 400;
      text-align: left;
      vertical-align: top;
      line-height: auto;
      letter-spacing: 0;
      width: calc(100vw - 40px);

    align-content: start;
      }

  &__title {
      
      display: flex;
      font-family: 'DM Sans';
      font-size: 32px;
      font-weight: 600;
      text-align: left;
      vertical-align: top;
      line-height: 34px;
      letter-spacing: 32px * 0.02;
      width: calc(100vw - 40px);
      height: 168px;
     
      
       
      }
    
  }

  