// TOKENS
$cfg-z: 10000 !default;
$cfg-backdrop: rgba(0,0,0,.46) !default;
$cfg-accent: #DC9B59 !default;

$cfg-card-w: 600px !default;

$cfg-pad-x: 16px !default;
$cfg-pad-y: 16px !default;

$cfg-radius-m: 28px !default; // mobile
$cfg-radius-t: 36px !default; // tablet
$cfg-radius-d: 42px !default; // desktop

$cfg-foot-bg: #F2F2F2 !default;
$cfg-head-bg: #EFEFEF !default;
$cfg-sep: #EDEDED !default;
$cfg-error: #d93025 !default;
