<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title or site.title }}</title>
  <meta name="description" content="{{ description or site.description }}">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  {% include "partials/_header.njk" %}
  <main>
    {% block content %}{% endblock %}
  </main>
  {% include "partials/_footer.njk" %}
  <script src="/js/main.js" defer></script>
</body>
</html>
